{% extends 'base.html.twig' %}

{% block title %}Job{% endblock %}

{% block body %}
    <h1>Job</h1>

    <table class="table">
        <tbody>

                    <tr>
                        <th>Id</th>
                        <td>{{ job.id }}</td>
                    </tr>
                    <tr>
                        <th>Posted By</th>
                        <td>{{ job.creator }}</td>
                    </tr>
                    <tr>
                        <th>Contact</th>
                        <td>{{ job.contact }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ job.description }}</td>
                    </tr>
                    <tr>
                        <th>Location</th>
                        <td>{{ job.location }}</td>
                    </tr>


        </tbody>
    </table>


    <a href="{{ path('job_application_new',{'job_id': job.id}) }}">
        Apply
    </a>

    <a href="{{ path('job_index') }}">back to list</a>

    <a href="{{ path('job_edit', {'id': job.id}) }}">edit</a>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Price</th>
            <th>Tradeperson</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for job_application in job_applications %}
            <tr>
                <td>{{ job_application.id }}</td>
                <td>{{ job_application.price }}</td>
                <td>{{ job_application.tradeperson.email }}</td>
                <td>
                   <a href="{{ url('job_application_accept',{'id': job_application.id , 'job_id': job.id}) }}">
                       Accept application
                   </a>

                </td>


            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ include('job/_delete_form.html.twig') }}
{% endblock %}
