{% extends 'base.html.twig' %}

{% block title %}Gardening Page{% endblock %}

{% block body %}






    <h3>Here is a list of Gardening Jobs </h3>
    <table>
        <thead>
        <tr>

            <th>Creator</th>
            <th>Contact</th>
            <th>Trade</th>
            <th>Description</th>
            <th>Location</th>
        </tr>
        </thead>
        <tbody>{% for job in job %}
            {% if job.trade == 'Gardening' %}

            <td>{{ job.creator }}</td>
            <td>{{ job.contact }}</td>
            <td>{{ job.trade }}</td>
            <td>{{ job.description }}</td>
            <td>{{ job.location }}</td>


{% endif %}
        {% endfor %}</tbody>


    </table>


    <br>
    <br>
    <a href ="{{asset('/job')}}">
        <button type="button">Post A Job</button></a>

{% endblock %}
