{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block head %}

<head>


</head>

{% endblock %}

{% block body %}



<div class="tm">
    <img src="{{ asset('build/TMBanner.png') }}"height="350" width="1200"></a>
</div>




    <p>"Covid-19: Tradesmate is here to support you with essential call outs for repairs and servicing, including painting & decorating, electrical, and plumbing"</p>
<hr>
    <br>
    <br>
    <br>

    <br>
    <h3>How TradesMate works?</h3>
    <p>Tradesmate allows people of all trades to locate both domestic and commercial projects or call outs all across Ireland.
    Simply post a job using our job form and it will be visible to all tradesmates so they can make offers for your job or contact you directly</p>

    <br>
    <br>
    <br>
    <br>
    <br>


    <p>We act as a hub to help you find the right person for the job, at the right price.
    To find out more about the trades and what jobs can be carried out , simply click the one your interested in below</p>


    <br>
    <br>
    <br>






        <div class="gallery">
             <a href ="{{asset('/plumbing')}}">
                <img src="{{ asset('build/PLUMB1.png') }}" height="250" width="250"></a>
            <h6>Plumbing</h6>
        </div>

         <div class="gallery">
              <a href ="{{asset('/carpentry')}}">
                <img src="{{ asset('build/CARP1.png') }}" height="550" width="550"></a>
             <h6>Carpentry</h6>
        </div>

        <div class="gallery">
              <a href ="{{asset('/paint')}}">
                <img src="{{ asset('build/PAINT1.png') }}" height="250" width="250"></a>
            <h6>Painting & Decorating</h6>
        </div>

        <div class="gallery">
              <a href ="{{asset('/electrical')}}">
                <img src="{{ asset('build/ELEC1.png') }}" height="250" width="250"></a>
            <h6>Electrical Work</h6>
        </div>

        <div class="gallery">
              <a href ="{{asset('/locksmith')}}">
                <img src="{{ asset('build/LOCK1.png') }}" height="250" width="250"></a>
            <h6>Locksmith</h6>
        </div>

        <div class="gallery">
              <a href ="{{asset('/gardening')}}">
                <img src="{{ asset('build/GARDEN1.png') }}" height="250" width="250"></a>
            <h6>Gardening</h6>
        </div>







<style>

    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');




    div.gallery {
        margin: 5px;
        float: left;
        width: 180px;
        padding:40px;
    }

 /*   div.gallery:hover {
        border: 1px solid #777;
    }*/

    div.gallery img {
        width: 100%;
        height: auto;
    }



    div.tm{




    }

    ul {
        padding-left: 100px;
    }

    h3{
        padding-left: 50px;
    }

    p{
        text-align: center;
        font-family: "Montserrat",sans-serif;
        font-size: 20px;
    }









</style>













{% endblock %}
