{% extends 'base.html.twig' %}

{% block title %}Paint Page{% endblock %}

{% block body %}




  <h3>Here is a list of Paint & Decorating Jobs </h3>
  <table>
      <thead>
      <tr>
          <th>Creator</th>
          <th>Contact</th>
          <th>Trade</th>
          <th>Description</th>
          <th>Location</th>
          <th>Timeslot</th>
      </tr>
      </thead>
      <tbody>{% for job in job %}
          {% if job.trade == 'Paint & Decorating' %}

          <tr>
              <td>{{ job.creator}}</td>
              <td>{{ job.contact }}</td>
              <td>{{ job.trade }}</td>
              <td>{{ job.description }}</td>
              <td>{{ job.location }}</td>
              <td>{{ job.timeslot }}</td>
          </tr>

          {% endif %}
      {% endfor %}</tbody>


  </table>

    <br>
    <br>
    <a href ="{{asset('/job')}}">
        <button type="button">Post A Job</button></a>

{% endblock %}
