{% extends 'base.html.twig' %}

{% block title %}JobCompleted{% endblock %}

{% block body %}
    <h1>JobCompleted</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ job_completed.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ job_completed.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('job_completed_index') }}">back to list</a>

    <a href="{{ path('job_completed_edit', {'id': job_completed.id}) }}">edit</a>

    {{ include('job_completed/_delete_form.html.twig') }}
{% endblock %}
