{% extends 'base.html.twig' %}

{% block title %}MyJobApplications index{% endblock %}

{% block body %}
    <h1>MyJobApplications index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Contact</th>
                <th>Description</th>
                <th>Location</th>
                <th>Price</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for my_job_application in my_job_applications %}
            <tr>
                <td>{{ my_job_application.id }}</td>
                <td>{{ my_job_application.contact }}</td>
                <td>{{ my_job_application.description }}</td>
                <td>{{ my_job_application.location }}</td>
                <td>{{ my_job_application.price }}</td>
                <td>
                    <a href="{{ path('my_job_applications_show', {'id': my_job_application.id}) }}">show</a>
                    <a href="{{ path('my_job_applications_edit', {'id': my_job_application.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('my_job_applications_new') }}">Create new</a>
{% endblock %}
