<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}
        <style>

            @import '/css/style.css';
            @import '/css/navstyle.css';
        </style>
        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}



    </head>
    <body>
    <header>
        <nav>
            <ul class="nav-links">
                <li><a href="{{ url('default') }}">Home</a></li>
                <li><a href="{{ url('about') }}">About</a></li>
                <li><a href="{{ url('contact') }}">Contact Us</a></li>

                {% if app.user %}

                    <li><a href="{{ url('app_logout') }}">Logout</a></li>

                {% else %}
                    <li><a href="{{ url('app_login') }}">Login</a></li>
                {% endif %}


            </ul>

        </nav>
    </header>



{#                            {% for trade in trades %}#}


{#                                    <li><a href="">#}
{#                                        {{ trade.title }}</a>#}
{#                                    </li>#}

{#                            {% else %}#}

{#                                    <li>There are no trades</li>#}

{#                            {% endfor %}#}


    <br>
    <br>
    <br>
    <div class="container">


        {% block body %}



        {% endblock %}

                </div>
            </div>
        </div>




    <br>
    <br>
    <br>



</body>
</html>
