{% extends 'base.html.twig' %}

{% block title %}Contact Page{% endblock %}

{% block body %}
    <h3>Your Profile Details</h3>
    <p>Your Profile Email: {{ app.user.email }}</p>
    <p>Your Profile ID: #{{ app.user.id }}</p>
    <p>Your Profile Role: {{ app.user.role }}</p>


    <button><a href="{{ url('job_client_index', { 'id':app.user.id }) }}" >View My Open Jobs</a></button>


    <button><a href="{{ path('job_new') }}">Create new Job</a></button>

    {% if is_granted('ROLE_TRADESMAN') %}
        <button><a href="{{ path('job_index') }}">View all Jobs</a></button>

    {% endif %}



{% endblock %}
